@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');

body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

body h4 {
    font-size: 1.11em;
    line-height: 150%;
    letter-spacing: normal;
    font-weight: 600;
}

body h2 {
    color: #ffffffff;
    font-weight: 300;
    font-size: 2.3em;
    line-height: 110%;
    letter-spacing: normal;
    text-transform: none;
}

body h5 {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 2px;
}

body h6 {
    font-size: .88em;
    font-weight: 300;
    letter-spacing: 2px;
}

#main-title{
    font-style: 2.6em;
    font-weight: 600;
    line-height: 100%;
}
span{
    font-weight: 300;
}

.carousel > img{
    height: 100vh;
}
#carouselExampleFade {
    height: 100vh;
    z-index: 100;

}

img {
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.heading {
    font-weight: 600;
    font-style: normal;
    font-size: 3.8em;
    line-height: 100%;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.subheading {
    font-weight: 400;
    color: rgb(255, 234, 0) !important;
}

.subtitle {
    font-style: normal;
    font-size: 1.11em;
    line-height: 130%;
    letter-spacing: 19px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

/******************************Content******************************/
.fa-briefcase,
.fa-key,
.fa-house-chimney,
.fa-building, .fa-star, .fa-bath, .fa-users {
    color: #03a9f4;
    font-size: 50px;
}

.icon-container {
    background-color: #fcb700;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, .560784) 0 7px 20px -12px, rgba(0, 0, 0, .117647) 0 4px 25px 0, rgba(0, 0, 0, .2) 0 8px 10px -5px;
    height: 100px;
    min-height: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    transition: all 0.2s linear 0s;
    width: 100px;
}

.icon-container:hover {
    transform: scale(1.1);

}

.fa-bed {
    color: #FFFFFF;
    font-size: 2.77em;
}

.fa-shower {
    color: #FFFFFF;
    font-size: 2.77em;
}

.fa-snowflake {
    color: #FFFFFF;
    font-size: 2.77em;
}

.description {
    color: #666666;
}

.description2 {
    color: #FFFFFF;
    font-weight: 200;
}

a {
    color: #03a9f4;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #03a9f4;
    text-decoration: underline;
}

.gridContainer {
    background-color: #fff;
    background-image: url("../img/backgrounds/bed-bedroom-clean-775219-1.jpg");
    background-size: cover;
    background-position: center top;

}

/******************************Testimonials******************************/

.testimonials-container {
    background-color: black;
}

.testimonial-img {
    height: 150px;
    width: 150px;
}

/********Alvin********/
.carousel {
    height: 100vh;
    width: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}