@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');

:root{
    --grey-form: #666666;
    --blue-project: rgb(0, 174, 255);
}
body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

body h4 {
    font-size: 1.11em;
    line-height: 150%;
    letter-spacing: normal;
    font-weight: 600;
}

body h2 {
    color: #ffffffff;
    font-weight: 300;
    font-size: 2.3em;
    line-height: 110%;
    letter-spacing: normal;
    text-transform: none;
}

body h5 {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 2px;
}

body h6 {
    font-size: .88em;
    font-weight: 300;
    letter-spacing: 2px;
}


span{
    font-weight: 300;
}



img {
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.heading {
    font-weight: 600;
    font-style: normal;
    font-size: 3.8em;
    line-height: 100%;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.subheading {
    font-weight: 400;
    color: rgb(255, 234, 0) !important;
}

.subtitle {
    font-style: normal;
    font-size: 1.11em;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 19px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
/******************************Slider*******************************/
.carousel-item {  
    height:93vh;
    background-size: cover;
    background-position: center center;
}
.carousel-item.carousel-1{
    background-image: url("../img/backgrounds/dan-gold-2202261.jpg");

}
.carousel-item.carousel-2{
    background-image: url("../img/backgrounds/drew-coffman-690381.jpg");
    
}
.carousel-item.carousel-3{
    background-image: url("../img/backgrounds/joshua-ness-1092991.jpg");
    
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
}
.arrow-down{   
    font-size: 50px;
    color: #FFFFFF;
    cursor: pointer;
}
.move-down {
    position: absolute;   
    top: 130%;
    left: 0; 
    right: 0; 
    transform: translate(-50%, -50%);  
    -webkit-animation: move 1s infinite  alternate;
    animation: move 1s infinite  alternate;
}

@-webkit-keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/******************************Content******************************/
.fa-briefcase,
.fa-key,
.fa-house-chimney,
.fa-building, .fa-star, .fa-bath, .fa-users {
    color: #03a9f4;
    font-size: 50px;
}

.icon-container {
    background-color: #fcb700;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, .560784) 0 7px 20px -12px, rgba(0, 0, 0, .117647) 0 4px 25px 0, rgba(0, 0, 0, .2) 0 8px 10px -5px;
    height: 100px;
    min-height: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    transition: all 0.2s linear 0s;
    width: 100px;
}

.icon-container:hover {
    transform: scale(1.1);

}

.fa-bed {
    color: #FFFFFF;
    font-size: 2.77em;
}

.fa-shower {
    color: #FFFFFF;
    font-size: 2.77em;
}

.fa-snowflake {
    color: #FFFFFF;
    font-size: 2.77em;
}

.description {
    color: #666666;
}

.description2 {
    color: #FFFFFF;
    font-weight: 300;
}

a {
    color: #03a9f4;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #03a9f4;
    text-decoration: underline;
}

.gridContainer {
    background-color: #fff;
    background-image: url("../img/backgrounds/bed-bedroom-clean-775219-1.jpg");
    background-size: cover;
    background-position: center top;

}

/******************************Testimonials******************************/

.testimonials-container {
    background-color: black;
}



/*### PROJECTS SECTION CLASSES ###*/
.project-container{
    position: relative;
    background-color: var(--blue-project);
}
.project-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.9s ease;
    backface-visibility: hidden;
}
.project-middle-content {
    transition: 0.9s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.project-container:hover .project-image {
    opacity: 0.3;
  }
  
.project-container:hover .project-middle-content {
    opacity: 1;
}

.project-button-text{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    letter-spacing: 1px;
}

@media (pointer:coarse) {
    .project-image{
        opacity: 0.3;
    }
    .project-middle-content{
        opacity: 1;
    }
}


/*### SPONSORS SECTION CLASSES ###*/
.sponsors{
    margin-left: 8rem;
    margin-right: 8rem;
}
.sponsor-img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    opacity: 0.5; /*Opacidad*/
    
    transition: all 0.4s;
    cursor: pointer;
}
.sponsor-img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

/*### FORM SECTION CLASSES ###*/
.label-form{
    text-transform: uppercase;
    color: var(--grey-form);
    font-size: 14px;
}
.p-form{
    color: var(--grey-form);
}
.h-form{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    color: var(--grey-form);
}
.textfield-form{
    height: 200px;
}
.form-btn{
    font-size: 14.75px;
    background-color: #03a9f4;
}